# dependencies
node_modules/

# next
.next/
out/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env (NEVER COMMIT)
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# uploads / temp (if you store files locally)
uploads/
tmp/
*.webm

# coverage
coverage/

data/